/*
#title {
	background-color: #000000;
	color: #ffffff;
}

#currentEmployee,
#addEmployee,
#submitButton {
	background-color: #0000c9;
	border-style: solid;
	border-width: 1px;
	border-color: #0000c9;
	color: #ffffff;
}

note that there aren't any id's in the html, but i just wanted to make it clear what i'm trying to edit
*/